---
interface Props {
  title: string;

  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="px-8 py-2 min-w-0 block group"
  type="button"
>
  <div class="relative">
    <!-- Gradient Lines and Image - Left Side -->
    <div
      class="absolute left-[-2rem] top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-all duration-500 flex flex-col justify-center items-center"
    >
      <div class="w-[1px] h-6 bg-gradient-to-t from-[#141414] to-transparent">
      </div>
      <div class="w-[1px] h-6 bg-gradient-to-b from-[#141414] to-transparent">
      </div>
    </div>
    <!-- Button -->
    <button class="text-sm w-full text-center py-2">{title}</button>
    <!-- Gradient Lines and Image - Right Side -->
    <div
      class="absolute right-[-2rem] top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition-all duration-500 flex flex-col justify-center items-center"
    >
      <div class="w-[1px] h-6 bg-gradient-to-t from-[#141414] to-transparent">
      </div>
      <div class="w-[1px] h-6 bg-gradient-to-b from-[#141414] to-transparent">
      </div>
    </div>
  </div>
</a>
